$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html {
  box-sizing: border-box;
}

.flip-container {
  left: 25%;
  width: 50%;
  height: 50%;
  top: 2%;
  position: absolute;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.ear {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 80px;
}

.btn-lg {
  position: fixed;
  top: 0px;
  left: 0px;
}

.nav {
  background: rgba(153, 197, 250, 0.79);
  visibility: hidden;
  position: fixed;
  right: 0%;
  top: 15%;
  width: 8em;
  margin-top: -2.5em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.minion {
  visibility: hidden;
  position: fixed;
  width: 25%;
  top: 500px;
  left: 20px;
}

.glyphicon {
  color: black;
  font-size: 40px;
  padding: 10px 40px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
.flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back, .mapholder {
	width: 1000px;
	height: 750px;
}

/* flip speed goes here */
.flipper {
	transition: 1.2s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	// top: 0;
	// left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.photobooth,
.mapholder {
  background: white;
  max-width: 150rem;
}

.calibration-box {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  border: 5px solid red;
  z-index: 2;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width:100%;
  float:left;
  transform: rotateY(180deg);
}

.player {
  position: absolute;
  top:20px;
  right: 20px;
  width:200px;
  transform: rotateY(180deg);
}

/*
  Strip!
*/

.strip {
  padding:2rem;
}
.strip img {
  width:100px;
  overflow-x: scroll;
  padding:0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow:0 0 3px rgba(0,0,0,0.2);
  background:white;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }
