$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html {
  box-sizing: border-box;
}

.flip-container {
  left: 25%;
  width: 50%;
  height: 50%;
  top: 2%;
  position: absolute;
  text-align: center;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.ear {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 80px;
}

.calibrate {
  position: fixed;
  bottom: 10em;
  right: 5em;
  width: 80px;
}

.btn-lg {
  position: fixed;
  top: 5px;
  left: 5px;
  border-radius: 0;
}

.nav {
  background: rgba(153, 197, 250, 0.79);
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 15%;
  width: 8em;
  margin-top: -2.5em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.minion {
  visibility: hidden;
  position: fixed;
  width: 25%;
  top: 500px;
  left: 20px;
}

.glyphicon {
  color: black;
  font-size: 40px;
  padding: 10px 40px;
}
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.back,
.flip-container,
.front,
.mapholder {
  width: 1000px;
  height: 750px;
}

/* flip speed goes here */
.flipper {
  transition: 1.2s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.back,
.front {
  backface-visibility: hidden;
  position: absolute;
  // top: 0;
  // left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.mapholder,
.photobooth {
  background: white;
  max-width: 150rem;
}

#calibration-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 44px;
  height: 44px;
  border: 3px dotted red;
  z-index: 1;
}

#top-right-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 73px;
  height: 44px;
  color: red;
  font-weight: 600;
  border: 1px solid red;
  z-index: 1;
  visibility: visible;
}

.menu-boxes {
  visibility: hidden;
  font-weight: 600;
  color: red;
}

.menu-boxes div {
  position: absolute;
  top: 0;
  width: 73px;
  height: 48px;
  border: 1px solid red;
  z-index: 1;
}

#top-left-one-box {
  left: 0;
}

#top-left-two-box {
  left: 125px;
}

#top-left-three-box {
  left: 250px;
}

#top-left-four-box {
  left: 375px;
}

#top-left-five-box {
  left: 500px;
}

#top-left-six-box {
  left: 625px;
}

.game-buttons {
  visibility: hidden;
}

.game-buttons div {
  position: absolute;
  width: 73px;
  height: 44px;
  color: red;
  font-weight: 600;
  border: 1px solid red;
  z-index: 1;
}

.game-play {
  top: 300px;
  left: 200px;
}

.game-rules {
  top: 300px;
  left: 700px;
}

.game-exit {
  bottom: 0;
  left: 0;
  line-height: -15px;
  display: block;
}

.rules, .points {
  position: absolute;
  top: 200px;
  left: 40px;
  width: 350px;
  font-size: 2em;
  visibility: hidden;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width: 100%;
  float: left;
  transform: rotateY(180deg);
}

.player {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  transform: rotateY(180deg);
  visibility: hidden;
}

/*
  Strip!
*/
.strip {
  padding: 2rem;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
}

.strip a:nth-child(5n+1) img {
  transform: rotate(10deg);
}

.strip a:nth-child(5n+2) img {
  transform: rotate(-2deg);
}

.strip a:nth-child(5n+3) img {
  transform: rotate(8deg);
}

.strip a:nth-child(5n+4) img {
  transform: rotate(-11deg);
}

.strip a:nth-child(5n+5) img {
  transform: rotate(12deg);
}
